<div class="vacancy-page">
  <h2>Create vacancy</h2>
  <form class="vacancy-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Company</mat-label>
      <mat-select formControlName="company">
        @for (company of companies; track company) {
        <mat-option [value]="company.id">{{ company.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error>Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      class="vacancy-form__submit"
      color="primary"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
